* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #BFD7E4;
}

body::before {
  content: '';
  position: absolute;

  width: 100%;
  height: 465px;

  z-index: -1;
  background: #293241;
}

.page {
  position: relative;
  margin: 0 auto;

  width: 750px;
  height: 1930px;
}

header {
  text-align: center;

  padding-top: 100px;
  margin-bottom: 30px;
}

header h1 {
  font-family: 'Staatliches', cursive;
  color: #ffffff;

  font-weight: normal;
  font-size: 36px;
  line-height: 45px;
}

header p {
  color: #ffffff;

  font-weight: normal;
  font-size: 16px;

  margin-bottom: 25px;
}

form {
  height: 1075px;

  padding: 30px 64px 64px;

  background: #ffffff;
  border-radius: 0px 0px 20px 20px;
}

fieldset {
  border: 0;
}

.title {
  height: 133px;
  padding: 50px 275px;

  background: #f67669;
  border-radius: 20px 20px 0px 0px;
}

.title h2 {
  font-family: 'Staatliches', cursive;
  color: #ffffff;

  width: 200px;
  font-size: 24px;
  font-weight: normal;
}

.names {
  display: flex;
  gap: 22px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.names > div:nth-child(1),
.names > div:nth-child(2) {
  width: 50%;
}

.input-wrapper label,
.input-names label,
.checkbox-wrapper {
  font-size: 14px;
  font-weight: normal;

  color: #4e4958;
}

select,
.input-wrapper input,
.input-names input,
.date-mentorship input {
  font-family: 'Poppins', sans-serif;

  font-weight: normal;
  font-size: 14px;

  width: 100%;
  height: 55.53px;

  background: #fafafc;

  margin-top: 8px;
  margin-bottom: 32px; /* essa margin atrapalhou o textarea */

  padding: 15px 20px;
  color: #4e4958;

  border-radius: 8px;
  border: 1px solid #e6e6f0;
}

textarea {
  font-family: 'Poppins', sans-serif;

  font-weight: normal;
  font-size: 14px;

  padding: 15px 20px;
  color: #4e4958;
}

#input-email {
  width: 100%;
}

.input-wrapper span {
  font-size: 12px;
  line-height: 20px;
  font-weight: normal;

  margin-left: 9px;

  color: #c1bccc;
}

.input-wrapper span:hover {
  color: #868588;
}

.title-form h2,
.title-times h2 {
  text-align: center;

  font-size: 24px;
  line-height: 34px;
  font-weight: normal;

  color: #253b51;

  border-bottom: 1px solid #e6e6f0;
  padding-bottom: 8px;
  margin-bottom: 32px;
}

.input-wrapper select {
  appearance: none;
  -webkit-appearance: none;
}

#select-name {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right 24px top 50%;

  cursor: pointer;
}

#input-feedback {
  height: 166.59px;

  margin-top: 8px;
  background: #fafafc;

  border: 1px solid #e6e6f0;
  border-radius: 8px;
}

.checkbox-wrapper {
  position: relative;
}

.checkbox-wrapper label {
  display: flex;
  align-items: center;

  gap: 8px;
  margin-top: 30px;
  margin-bottom: 36px;
}

.checkbox-wrapper input {
  position: absolute;
  width: 24px;
  height: 24px;

  border-radius: 8px;
  background: #fafafc;
  border: 1px solid #e6e6f0;

  opacity: 0;
}

.checkbox-wrapper label::before {
  content: '';
  display: block;

  width: 24px;
  height: 24px;

  border-radius: 8px;
  background: #fafafc;
  border: 1px solid #e6e6f0;
}

.checkbox-wrapper input:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 11.17L1.83 7L0.410004 8.41L6 14L18 2L16.59 0.589996L6 11.17Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox-wrapper input:focus + label::before {
  border: 2px solid #6d6c70;
}

.input-wrapper input:focus,
.input-names input:focus,
.input-wrapper textarea:focus,
.input-wrapper select:focus,
.date-mentorship input:focus {
  outline: 2px solid #6d6c70;
}

.date-mentorship {
  display: flex;
  gap: 10px;
}

.date-mentorship > div:nth-child(1) {
  width: 100%;
}

.date-mentorship > div:nth-child(2),
.date-mentorship > div:nth-child(3) {
  width: 25%;
}

.date-mentorship > div:nth-child(2) {
  padding-left: 22px;
}

button {
  font-family: 'Staatliches';
  font-weight: normal;
  font-size: 20px;
  color: #ffffff;

  width: 622px;
  height: 51px;

  padding: 15px 40px;

  border: 0;
  border-radius: 8px;
  background: #f67669;

  cursor: pointer;
  margin-top: 25px;
}

button:hover {
  background: #ca5346;
}

button:focus {
  border-color: #ca5346;
}
